
.heart {
    margin-left: 30%;
    margin-top: 2.5%;
    stroke: rgba(0, 0, 0, 0.7);
}

.animationHeart:checked + label > svg {
    animation: growHeart 1s ease 2s infinite alternate,
        redHeart 1s ease-in forwards;
}
